* {
/*    box-sizing: border-box;*/
}

body {
    font-family: 'Roboto', 'Helvetics Neue', 'Helvetics', 'Arial', sans-serif;
    color: #343434;
    font-size: 17px;
    height: 100vh; 
/*    set the body to be full height */
    display: flex;
    flex-direction: column;
/*    display child elents */
/*    line-height:1.5;*/
}

h1, h2, h3 {
    font-weight: 500;
    margin: 0 0 0.625em;
}
/**/
h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.8rem;
}

p {
    font-size: 1.06rem;
    line-height: 1.35em;
}

/* descendant selector applies to uls inside */

nav ul {
    list-style: none;
    margin 0;
    padding:0;
}

/*pseudo classes - specify appearance of various anchor states */

a:link {
    text-decoration: none;
    color: #1076ed
}

a:visited {
    color: #dd0a7c
}

a:hover {
    color: #dd730a
}

a:active {
    color: green
}

body>header {
    background: blue url(https://picsum.photos/1600/300?image=907) no-repeat;
    background-size: cover;
    height: 300px;
    background-position: right;
    color:#e0f1ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

header h1 {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 3rem;
/*    margin-bottom: 0.625rem;*/
    }

header h2 {
    font-size: 2.5rem
}

main {
/*    min-height: 500px;*/
    margin-top: 45px;
}

.wrapper {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}


/*--------------*/

.wrapper > * {
    background: #575757;
    color: #fff;
    padding 20px;
    font-size: 18px;
}

.wrapper {
    display: grid;
    grid-template-columns: 200px 3fr;
    grid-template-rows: 200px 400px 150px;
    grid-gap: 10px;
}

.wrapper header, .wrapper footer {
/* this means that you have applied the particular elements to start on "1" and end on "3" */
    grid-column: 1/3;
}
